{{!-- View entering to (/about) --}}

<div class="card">
    <div class="card-body">
        <h1>About Page in Handlebars</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
            fugiat, exercitationem optio illum, natus earum placeat in quos nam
            rerum nesciunt modi quas eaque quibusdam velit architecto deleniti
            excepturi ad dolor ab ipsum, sit saepe. Deserunt, possimus. Eos
            obcaecati iure soluta expedita qui error nesciunt nulla, esse hic
            quaerat voluptas?</p>
    </div>
</div>