{{!-- Vista al entrar a la ruta (/index, / ) --}}

<div class="jumbotron mt-4">
    <h1 class="display-4">Note App with NodeJs and MongoDB (SPA)</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, sed?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa natus, suscipit sint expedita, pariatur cum minus quae officiis sequi veritatis deserunt eos autem obcaecati harum!</p>
    <a href="/users/signin" class="btn btn-primary btn-lg"> Sign in</a> or 
    <a href="/users/signup" class="btn btn-primary btn-lg ml-auto"> Sign up</a>

</div>