{{!-- View when enter to (/index, / ) --}}

<div class="jumbotron mt-4">
    <h1 class="display-4">Single Page Application: Notes App using NodeJs (Backend), MongoDB (Database), Passport (Authentication)</h1>
    <p class="lead">Billy Rodríguez Morales</p>
    <hr class="my-4">
    <p>Thanks Fazt!</p>
    {{!-- Here starts the app --}}
    <a href="/users/signin" class="btn btn-primary btn-lg"> SIGN ME IN</a> OR
    <a href="/users/signup" class="btn btn-success btn-lg ml-auto"> SIGN ME UP</a>
</div>