{{!-- Error messages --}}
{{#if error}} {{!-- If exists a global variable named 'error' passport will
store it
this message --}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ error }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
{{!-- Support multiple alerts at same time --}}
{{#each errors}} {{!-- For each error store an alert --}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ text }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}